[submodule "zprezto/.zprezto"]
	path = zprezto/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "yasnippets/.yasnippets/yasnippet-snippets"]
	path = yasnippets/.yasnippets/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "emacs/.emacs-themes/emacs-color-theme-solarized"]
	path = emacs/.emacs-themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
