# -*- mode: snippet -*-
# name: head
# key: head
# --
TODO VZ -*- mode: org -*-

#+STARTUP: overview
#+STARTUP: hidestars
#+STARTUP: logdone

#+TAGS  MAIL(m) PHONE(h) MEET(e)
#+TAGS  WRITING(w) READING(r)
#+TAGS  DESIGN(g) DEVELOP(d) TEST(t)
#+TAGS  LECTURE(u) EXAM(x)

#+TYP_TODO: TODO NEXT | DONE(.)


