# -*- mode: snippet -*-
# name: head
# key: head
# --
TODO VZ -*- mode: org -*-

#+STARTUP: content
#+STARTUP: hidestars
#+STARTUP: logdone

#+TAGS  MAIL(m) PHONE(h) MEET(e)
#+TAGS  WRITING(w) READING(r)
#+TAGS  DESIGN(g) DEVELOP(d) TEST(t)
#+TAGS  LECTURE(u) EXAM(x)

#+TYP_TODO: TODO NEXT TBC | DONE(.) CANCELLED(.)
#+COLUMNS: %40ITEM %5TAGS %5PRIORITY %10TODO %12DEADLINE %12TIMESTAMP %12CLOSED
