# -*- mode: snippet -*-
# name: twocol
# key: twocol
# --

** ${1:title}
*** text													 :B_column:BMCOL:
	:PROPERTIES:
	:BEAMER_env: column
	:BEAMER_col: 0.5
	:END:

*** image													 :B_column:BMCOL:
	:PROPERTIES:
	:BEAMER_env: column
	:BEAMER_col: 0.5
	:END:

